@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Indie+Flower&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}

@theme {
  --color-bg-white: #f8f8f8;
  --color-green: #9ae28d;
  --color-yellow: #fbfa90;
  --color-blue: #95e9fe;
}

@font-face {
  font-family: "Monocraft";
  src: url("/Monocraft.otf");
}

* {
  font-family:
    "Monocraft",
    Comic Sans MS,
    "Indie Flower",
    sans-serif;
}

.normal-text {
  font-family: Inter, Arial, sans-serif;
}

html {
  background-image: radial-gradient(transparent 60%, rgba(0, 0, 0, 0.3)), url("/bg.svg");
  overscroll-behavior-y: contain;
  @apply bg-repeat text-black;
}

body {
  overscroll-behavior-y: contain;
  @apply overflow-hidden;
}

button,
a {
  @apply cursor-pointer transition-transform active:scale-95;
}

.no-scrollbar {
  scrollbar-width: none;
}
